node_modules
functions
.next
.vscode
.github
public/index.html

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

#  prettier
.prettierrc.js
.prettierqignore

# eslint
.eslintrc.js
.stylelintrc.js

# typescript
*.tsbuildinfo
next-env.d.ts
*storybook.log
tsconfig.json

# storybook
.storybook
.stories

# firebase
database.rules.json
firestore.indexes.json
firestore.rules

# tailwind
tailwind.config.js